<ion-split-pane contentId="menu">
  <ion-menu side="end" menuId="first" contentId="menu">
    <ion-content>
      <ion-list style="height: 100vh; padding: 0; margin: 0">
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let page of pages; let i = index"
        >
          <ion-item
            (click)="changeSelectedIndex(i)"
            routerDirection="root"
            [routerLink]="[page.url]"
            lines="none"
            detail="false"
            [class.selected]="selectedIndex == i"
          >
            <ion-icon slot="start" [name]="page.icon + '-outline'"></ion-icon>
            <ion-label>{{page.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false">
          <ion-item
            (click)="logout()"
            routerDirection="root"
            lines="none"
            detail="false"
          >
            <ion-icon slot="start" [name]="'exit-outline'"></ion-icon>
            <ion-label>Log out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="menu" menu></ion-router-outlet>
</ion-split-pane>
