


<ion-content  class="ion-padding ion-text-center" color="light">

  <img src="../../assets/tomato.png" class="logo" />
  <div class="title">
    <h1>ROTTEN T</h1>
    <h4>LOG IN</h4>
    
  </div>

  <div>
    
    
 
    <form  [formGroup]="Form" (ngSubmit)="log()">
      <ion-input placeholder="Username" formControlName="nick" class="primary-input"></ion-input>

      <ion-input placeholder="Password" type="password"  formControlName="contrasena" class="primary-input"></ion-input>



  <div class="ion-margin-top">
    <ion-button expand="block" type="submit" color="success" >LOG IN </ion-button>
  </div>

  
  </form>
  </div>
   <a href="register">Regist here</a>
</ion-content>
