.main_content_div{
    width:100%;
}
   
    ion-label{
        display:block ;
    }
    .user_div{
        padding:10px ;
        width: 100%;
        height: 260px;
        background: linear-gradient(to right, #1c8801,#17501e);
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
  .first_div{
      padding-top:60x ;
      
  }
  .username{
          font-size: 18px;
          color:white;
          font-weight: 600;
      }
    
      .content_div{
          background: white;
          width: 100%;
          border-top-left-radius:65px ;
          border-top-right-radius:65px ;
      margin-top: -90px;
      padding: 20px;
      padding-top: 20px;
        }
.test_details{
    width: 100%;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    padding: 10px; 
}
.flex_div{
display: flex;
flex-direction: row;
align-items: center;
}
ion-grid{
    padding: 0;
}
ion-col{
    padding: 10px;
}
.details{ 
     padding-left:5px ;

}
.bold_lbl{
    font-weight: 600;
    font-size: 14px;
}
.list-div{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.3);
    margin-top: 20px;
    padding: 15px;
}
