.logo {
    width: 25%;
    margin: 8% 0 10% 0;
}
.title {
    margin-bottom: 30px;
}

.title h4 {
    color: #ec1a1a;
}

.title p {
    margin-top: 0 !important;
    color: #ec1a1a;
    font-size: small;
}

h2 {   
    color: #2eff74e1;
}